@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    position: relative;
    background: #0b9cb6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

::selection {
    color: #ececec;
    background: #0b9cb6;
}

.form {
    position: relative;
    background-color: rgba(242, 243, 247, 0.6); /* Increase transparency (adjust alpha value) */
    width: 100%;
    max-width: 500px;
    border: 12px solid transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a box-shadow for a glassy effect */
    padding: 10px; /* Make the padding slimmer */
    border-radius: 10px;
}

.form h2 {
    font-size: 36px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.form p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}

.form form {
    display: grid;
    gap: 20px;
}

.form .grid-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form label {
    font-size: 16px;
    font-weight: 600;
}

.form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form .button {
    background-color: #0b9cb6;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.form .button:hover {
    background-color: #146574; /* Change the background color on hover */
}

.form .link {
    text-align: center;
    margin-top: 20px;
}

.form .link a {
    color: #0b9cb6;
    text-decoration: none;
    font-weight: 600;
}

.form .link a:hover {
    text-decoration: underline;
}
.logo-container {
    position: absolute;
    top: 15px;
    right: 15px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Make the logo look like a circle */
    border: 2px solid #fff; /* Add a white border to the logo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
}

/* Existing CSS styles */

/* Add new CSS styles for the social media icons */
.social-icons {
    text-align: center;
    margin-top: 10px; /* Adjust the margin to add some space between the button and icons */
}

.social-icons a {
    display: inline-block;
    margin: 0 5px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #146574; /* Change the color on hover */
}
